{% extends 'akorzina/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h1>Некоторая информация о нашей компании....</h1>
        <h3>О компании</h3>
        <p>
          Основной продукт нашей компании - абажуры в широком ассортименте.
          Если смириться, как это предлагает предыдущий оратор, не вариант —
          есть способ немного облегчить визуальные страдания. Добиться эффекта
          улучшения можно при помощи отрицательного word-spacing. Для
          достижения более-менее приемлемого эффекта со значением придется
          экспериментировать.
        </p>
      </div>
    </div>
  </div>
{% endblock %}

