{% extends 'akorzina/base.html' %}
{% load static %}

{% block content %}
    <div class="container content">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <a href="{% url 'lampshades' %}" class="list-group-item"
              >Абажуры</a
            >
            <a href="{% url 'chandeliers' %}" class="list-group-item"
              >Люстры</a
            >
            <a href="{% url 'pano' %}" class="list-group-item"
              >Пано</a
            >
            <a href="{% url 'mirrors' %}" class="list-group-item"
              >Зеркала</a
            >
            <a href="{% url 'other' %}" class="list-group-item"
              >Другое</a
            >
          </div>
        </div>
        <div class="col-md-8 products">
          <div class="row">
            <div class="col-sm-4">
              <div class="product">
                <div class="product-img">
                  <a href="#"><img src="{% static 'images/lampshades/cat_1.jpg' %}" alt="somephoto" /></a>
                </div>
                <p class="product-title">
                  <a href="./catalog/lampshades.html">Абажуры</a>
                </p>
                <p class="product-desc">Описание1. ..</p>
                <p class="product-price">Цена: KGS3000</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="product">
                <div class="product-img">
                  <a href="#"><img src="{% static 'images/chandeliers/cat_2.jpg' %}" alt="somephoto" /></a>
                </div>
                <p class="product-title">
                  <a href="{% url 'lampshades' %}">Люстры</a>
                </p>
                <p class="product-desc">Описание1. ..</p>
                <p class="product-price">Цена: KGS3000</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="product">
                <div class="product-img">
                  <a href="#"><img src="{% static 'images/mirrors/cat_3.jpg' %}" alt="somephoto" /></a>
                </div>
                <p class="product-title">
                  <a href="{% url 'mirrors' %}">Зеркала</a>
                </p>
                <p class="product-desc">Описание1. ..</p>
                <p class="product-price">Цена: KGS3000</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="product">
                <div class="product-img">
                  <a href="#"><img src="{% static 'images/pano/pano/dog-sunglasses_ZVCXJVXL75.jpg' %}" alt="somephoto" /></a>
                </div>
                <p class="product-title">
                  <a href="{% url 'pano' %}">Пано</a>
                </p>
                <p class="product-desc">Описание1. ..</p>
                <p class="product-price">Цена: KGS3000</p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="product">
                <div class="product-img">
                  <a href="#"><img src="{% static 'images/other/pano/seagull-water_7IK961PQJI.jpg' %}" alt="somephoto" /></a>
                </div>
                <p class="product-title">
                  <a href="{% url 'other' %}">Прочее</a>
                </p>
                <p class="product-desc">Описание1. ..</p>
                <p class="product-price">Цена: KGS3000</p>
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}









