{% extends 'akorzina/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="pb-4">Контакты</h1>

                <h2 class="pb-3">Адрес производства</h2>
                <p class="lead">
                    г. Бишкек, дач. городок "Приборист (Панорама)" почти край географии...
                </p>

                <div class="contact-info">
                    <p><span class="fw-bold">Телефон:</span> <a href="tel:+996555000000" class="contact-link">+996 (555) 000-000</a></p>
                    <p><span class="fw-bold">WhatsApp:</span> <a href="https://wa.me/996555000000" class="contact-link">+996 (555) 000-000</a></p>
                    <p><span class="fw-bold">Сайт:</span> <a href="http://www.alina-korzina.kg" target="_blank" class="contact-link">www.alina-korzina.kg</a></p>
                    <p><span class="fw-bold">Email:</span> <a href="mailto:alina-korzina@gmail.com" class="contact-link">alina-korzina@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

