{% extends 'akorzina/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 mb-5">
  <h1 class="text-center mb-4">Отзывы</h1>
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="text-center">Посмотреть все отзывы</h2>
      <ul id="nameOutput" class="list-group mb-3"></ul>
      <ul id="feedbackOutput" class="list-group"></ul>
    </div>
  </div>

  <!-- Форма оставления отзыва -->
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Оставить отзыв</h2>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-2 text-md-end p-2"><label for="nameInput" class="form-label">Ваше имя*</label></div>
    <div class="col-md-10"><input class="form-control" id="nameInput" type="text" name="name" required /></div>
  </div>

  <div class="row mb-3">
    <div class="col-md-2 text-md-end p-2"><label for="emailInput" class="form-label">Email*</label></div>
    <div class="col-md-10"><input class="form-control" id="emailInput" type="email" required /></div>
  </div>

  <div class="row mb-3">
    <div class="col-md-2 text-md-end p-2"><label for="ratingInput" class="form-label">Ваша оценка*</label></div>
    <div class="col-md-10"><input class="form-control" id="ratingInput" type="number" name="rating" min="1" max="5" required /></div>
  </div>

  <div class="row mb-3">
    <div class="col-md-2 text-md-end p-2"><label for="feedbackInput" class="form-label">Отзыв*</label></div>
    <div class="col-md-10">
      <textarea class="form-control" id="feedbackInput" name="review" rows="4" required></textarea>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col text-center">
      <button type="submit" id="addButton" class="btn btn-primary">Добавить отзыв</button>
    </div>
  </div>
</div>
{% endblock %}




