{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>АКорзина</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'a_app/style.css' %}">
  </head>
  <body>
    <div class="navbar-main">
      <nav>
        <ul>
          <li>
            <a href="#">
              <img src="{% static 'images/AK.png' %}" alt="photo" width="60" />
            </a>
          </li>
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><a href="{% url 'catalog' %}">Каталог</a></li>
          <li><a href="{% url 'about_us' %}">О нас</a></li>
          <li><a href="{% url 'payment_delivery' %}">Оплата и доставка</a></li>
          <li><a href="{% url 'feedback' %}">Отзывы</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </nav>
    </div>

    <div class="container my-5">
      <div class="row">
        <div class="col-sm">
          <img src="{% static 'images/animal-dog_ZO5GDP2QY1.jpg' %}" alt="photo" width="200" />
          <p>Корзина для белья</p>
        </div>
        <div class="col-sm">
          <img src="{% static 'images/dog-sunglasses_ZVCXJVXL75.jpg' %}" alt="photo" width="200" />
          <p>Корзина для продуктов</p>
        </div>
        <div class="col-sm">
          <img src="{% static 'images/seagull-water_7IK961PQJI.jpg' %}" alt="photo" width="200" />
          <p>Корзина для .....</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <img src="{% static 'images/cat_1.jpg' %}" alt="photo" width="200" />
          <p>Абажур...</p>
        </div>
        <div class="col-sm">
          <img src="{% static 'images/cat_2.jpg' %}" alt="photo" width="200" />
          <p>Абажур другой вид...</p>
        </div>
        <div class="col-sm">
          <img src="{% static 'images/cat_3.jpg' %}" alt="photo" width="200" />
          <p>Абажур третий вид...</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h1>Изделия из ... на заказ</h1>
          <h2>Производство изделий из...</h2>
          <h3>О компании</h3>
          <p>
            Основной продукт нашей компании - абажуры в широком ассортименте.
            Если смириться, как это предлагает предыдущий оратор, не вариант —
            есть способ немного облегчить визуальные страдания. Добиться эффекта
            улучшения можно при помощи отрицательного word-spacing. Для
            достижения более-менее приемлемого эффекта со значением придется
            экспериментировать.
          </p>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid my-5" style="background-color: aliceblue">
        <div class="global-footer">
          <div class="footer-block">
            <img src="{% static 'images/AK.png' %}" alt="photo" width="60" />
          </div>
          <div class="footer-block">
            <a href="#" style="font-weight: bold">Оформить заказ</a>
          </div>
          <div class="footer-block">
            <div
              class="footer-block-inside"
              style="display: block; width: 127px"
            >
              <a href="#" style="font-weight: bold">фотопоток</a>
              <a href="#">фотопоток</a>
            </div>
          </div>
          <div class="footer-block">
            <div
              class="footer-block-inside"
              style="display: block; width: 200px"
            >
              <a href="#" style="font-weight: bold">наши контакты</a>
              <a href="#">+996(555)555555</a>
              <a href="#">г.Бишкек,Тункгуч****</a>
              <a href="mailto:abakdf@gmail.com">Отправить сообщение в никуда</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoYz1HIcje39Wm4jDKdf19U8gI4ddQ3zlf3V6RBBhZv1Q=="
          crossorigin="anonymous"></script>
  </body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <title>АКорзина</title>-->
<!--    <link-->
<!--      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"-->
<!--      rel="stylesheet"-->
<!--      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"-->
<!--      crossorigin="anonymous"-->
<!--    />-->
<!--    <link rel="stylesheet" href="{% static 'style.css' %}">-->
<!--  </head>-->
<!--  <body>-->
<!--    <div class="navbar-main">-->
<!--      <nav>-->
<!--        <ul>-->
<!--          <li>-->
<!--            <a href="#">-->
<!--              <img src= "{% static 'images/AK.png' %}" alt="photo" width="60" />-->
<!--            </a>-->
<!--          </li>-->
<!--          <li><a href="#">Главная</a></li>-->
<!--          <li><a href="#">Каталог</a></li>-->
<!--          <li><a href="#">О нас</a></li>-->
<!--          <li><a href="#">Оплата и доставка</a></li>-->
<!--          <li><a href="#">Отзывы</a></li>-->
<!--          <li><a href="#">Контакты</a></li>-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->

<!--    <div class="container my-5">-->
<!--      <div class="row">-->
<!--        <div class="col-sm">-->
<!--          <img src="{% static 'images/animal-dog_ZO5GDP2QY1.jpg' %}" alt="photo" width="200">-->
<!--          <p>Корзина для белья</p>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <img src="{% static 'images/dog-sunglasses_ZVCXJVXL75.jpg' %}" alt="photo" width="200">-->
<!--          <p>Корзина для продуктов</p>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <img src="{% static 'images/seagull-water_7IK961PQJI.jpg' %}" alt="photo" width="200">-->
<!--          <p>Корзина для .....</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-sm">-->
<!--          <img src="{% static 'images/cat_1.jpg' %}" alt="photo" width="200">-->
<!--          <p>Абажур...</p>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <img src="{% static 'images/cat_2.jpg' %}" width="200">-->
<!--          <p>Абажур другой вид...</p>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--          <img src="{% static 'images/cat_3.jpg' %}" alt="photo" width="200">-->
<!--          <p>Абажур третий вид...</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-10">-->
<!--          <h1>Изделия из ... на заказ</h1>-->
<!--          <h2>Производство изделий из...</h2>-->
<!--          <h3>О компании</h3>-->
<!--          <p>-->
<!--            Основной продукт нашей компании - абажуры в широком ассортименте.-->
<!--            Если смириться, как это предлагает предыдущий оратор, не вариант —-->
<!--            есть способ немного облегчить визуальные страдания. Добиться эффекта-->
<!--            улучшения можно при помощи отрицательного word-spacing. Для-->
<!--            достижения более-менее приемлемого эффекта со значением придется-->
<!--            экспериментировать.-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <footer>-->
<!--      <div class="global-footer">-->
<!--        <div class="container">-->
<!--          <div class="footer-block">-->
<!--            <img src="AK.png" alt="photo" width="60" />-->
<!--          </div>-->
<!--          <div class="footer-block">-->
<!--            <a href="#">Оформить заказ</a>-->
<!--          </div>-->
<!--          <div class="footer-block">-->
<!--            <a href="#">фотопоток</a>-->
<!--          </div>-->
<!--          <div class="footer-block">-->
<!--            <a href="#">наши контакты</a>-->
<!--            <a href="#">наши контактыыыы</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--  </body>-->
<!--</html>-->